@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
$color-black1: #1E1E1E;
$color-black2: #2F2F2F;
$color-black3: #646464;
$color-green: #7F977B;
$color-green2: #6E7D60;
$color-red:#FF725E;
$color-white: #FFFFFF;

@mixin font($size, $weight,$color,$align){
  font-family: 'Noto Sans TC';
  font-weight: $weight;
  font-size:$size ;
  color:$color;
  text-align: $align;
}
@mixin wh($width,$height){
  width:$width;
  height:$height;
}
@mixin flex($wrap,$justify-content,$align-items){
  display: flex;
  flex-wrap:$wrap;
  justify-content:$justify-content;
  align-items:$align-items;
}
@mixin pad{
  @media screen and (max-width:768px){
    @content;
  }
}
@mixin mobile{
  @media screen and (max-width:375px){
    @content;
  }
}