@import '_basic.scss';
body{
	max-width:1200px;
	margin: auto;
  @include pad{
    max-width:768px;
    margin: auto;
  }
  @include mobile{
    max-width:375px;
    margin: auto;
  }
}
//header
.header{
	position: fixed;
	z-index: 1;
	width:100%;
	max-width: 1130px;
	margin: auto;
	border-bottom: #e5e5e5 solid 1px;
	padding:25px 45px;
	background-color: $color-white;
  .logo{
    @include wh(240px,32px);
    background-image:url("https://f2e-week1.vercel.app/logo-desktop.svg");
  }
	@include flex(none,Space-between,center);
  label{
    display: none;
  }
  input{
    display:none;
  }
	.list{
		@include flex(none,flex-end,center);
		li{
			margin-left: 20px;
			padding:10px;
			a{
				@include font(18px,400,$color-black3,right);
				text-decoration:none;
			}
		}
	}
  @include pad{
    max-width: 768px;
    display: block;
    label{
      display: inline-block;
      padding:13.5px 10px;
      background-color:#A8B8A5 ;
      border-radius: 12px;
      position: absolute;
      top:15px;
      right:15%;
    }
    .list{
      position:fixed;
      left:0;
      max-width: 768px;
      display: block;
      margin-top: 26px;
      max-height: 0px;
      overflow: hidden;
      transition: 0.3s;
      @include wh(100%,auto);
      li{
        margin:auto;
        padding:10px 40%;
        background-color: $color-white;
        border-bottom: #e6e6e6 solid 1px;      
        a{
          @include font(18px,400,$color-green,center);
        }
      }
      li:hover{
        background-color: #A8B8A5 ;
        a{
          color:$color-white;
        }
      }
    }
    input:checked ~ .list {
      max-height: 124px;
      transition: 0.4s;
    }
    label:hover{
      background-color:#beccbb ;
    }
  }
  @include mobile{
    padding:8px 8px;
    max-width:375px;
    .logo{
      margin:17px 0;
      @include wh(118px,30px);
      background-image:url("/img/mobile/Logo-mobile.png");
      position: relative;
      left:110px;
    }
    label{
      top:15px;
      right:10%;
    }
    .list{
      max-width:375px;
      margin-top: 9px;
    }
  }
}
//大標題
.toparea{
	padding:130px 140px 50px 140px;
	@include flex(wrap,Space-between,center);
	.pagetitle{
		.title{
			@include font(48px,300,$color-black1,left);
			line-height: 70px;
			ins{
				text-decoration:none;
				border-bottom: 2px solid #E0DA48;
			}
      @media screen and (max-width:1130px){
        font-size: 40px;
        text-align: center;
      }
      @include mobile{
        @include font(28px,300,$color-black1,center);
        line-height: 40px;
      }
		}
		.info{
			margin-top: 15px;
			@include flex(none,flex-start,center);
			p{
				display: inline-block;
				@include font(20px,400,$color-black3,left);
				margin: 0 8px;
        @include pad{
          @include font(14px,400,$color-black3,left);
          .english{
            @include font(12px,700,$color-black3,left);
          }
        }
			}
    }
    @media screen and (max-width:1130px){
      margin-bottom: 35px;
      @include flex(none,none,center);
      flex-direction:column;
      transition: 1s;  
    }
  }
	.function{
		.search{
			margin-bottom: 7px;
			select{
				@include wh(350px,auto);
				@include font(16px,500,$color-green2,left);
				background-color: $color-white;
				border-radius: 6px;
				border: #e6e6e6 solid 1px;
				padding:10px 30px;
				option{
					@include font(16px,500,$color-black2,left);
					letter-spacing: 20px;
				}
      }
		}
		.inputframe{
			margin: 7px 0;
			input{
				@include wh(350px,auto);
				@include font(16px,400,#9E9E9E,left);
				background-color: #F9F9F9;
				border: #e6e6e6 solid 1px;
				border-radius: 6px;
				padding:10px 30px;
			}
		}
		.searchbtn{
			button{
				@include flex(none,space-evenly,center);
				@include wh(350px,auto);
				background-color: #65895f;
				border:none;
				border-radius: 6px;
				padding:10px 120px;
				p{
					@include font(16px,700,$color-white,center);
					letter-spacing: 20px
				}
			}
			button:hover{
				background-color: #7ba374;
			}
		}
	}
  @include pad{
    @include flex(none,none,center);
      flex-direction:column;

  }
  @include mobile{
    padding:100px 15px 23px 15px;
  }
}
//banner
#tab{
  max-width: 1200px;
  max-height: 400px;
  padding:45px;
  margin: auto;
  position: relative;
  .slider{
    @include wh(100%,auto);
    border-radius:24px ;
    margin: auto;
    overflow: hidden;
    .photo{
      @include wh(100%,400px);
      background-image: url(/img/pc/ScenicSpotPicture.png);
    }
    .slick-prev{
      @include wh(40px,40px);
      border:none;
      background-color: rgba($color: #ac797900, $alpha: 0);
      font-size:0;
      background-image: url(/img/pc/banner-arrow-left.png);
      position: absolute;
      z-index: 1;
      top:50%;
      left:2%;
      @include mobile{
        @include wh(0px,0px);
      }
    }
    .slick-next{
      @include wh(40px,40px);
      border:none;
      background-color: rgba($color: #ac797900, $alpha: 0);
      font-size:0;
      background-image: url(/img/pc/banner-arrow-right.png);
      position: absolute;
      z-index: 1;
      top:50%;
      right:2%;
      @include mobile{
        @include wh(0px,0px);
      }
    }
  }
  @include pad{
    max-width: 768px;
  }
  @include mobile{
    max-width: 345px;
    height:185px;
    padding:15px;
    .slider{
      border-radius:16px ;
      .photo{
        @include wh(100%,185px);
        background-image: url(/img/mobile/picture1.png);
      }
    }
  }
  .banner-text{
    @include wh(auto,auto);
    @include font(28px,700,$color-white,center);
    margin: auto;
    position: relative;
    top:-190px;
    @include pad{
      font-size:20px ;
    }
    @include mobile{
      font-size: 16px;
      top:-100px;
    }
  }

}
//活動
.event{
	padding:0 20px;
	.top{
		margin: 10px 40px 10px 35px;
		@include flex(nowrap,Space-between,center);
		h3{
			@include font(36px,300,$color-black1,left);
		}
		a{
			@include font(16px,500,$color-red,right);
			text-decoration:none;
		}
    @include mobile{
      margin: 8px 0px;
      h3{
        @include font(24px,300,$color-black1,left);
      }
    }
	}
	.event-card{
		@include flex(wrap,Space-between,center);
		.card{
			position: relative;
			@include flex(nowrap,flex-start,none);
			@include wh(100%,160px);
      max-width: 540px;
			margin:6px 5px;
			border-radius: 12px;
			background-color: #F9F9F9;
			border: #e5e5e5 solid 1px;
			.photo{
				@include wh(160px,160px);
				min-width: 160px;
				overflow: hidden;
				border-radius:12px 0 0 12px;
				img{
					@include wh(100%,100%);
					transition: 0.3s;
        }
      }
			.event-info{
				padding:16px 30px;
				.the-title{
					p{
						@include font(16px,200,$color-black3,left);
						line-height: 23px;
					}
					h4{
						@include font(22px,700,$color-black2,left);
						line-height: 30px;
					}
				}
				.detail{
					.map{
						@include font(16px,400,$color-black3,left);
						position: absolute;
						bottom:15%;
					}
					a{
						@include font(16px,500,$color-green,right);
						text-decoration:none;
						position: absolute;
						bottom:15%;
						right:5%;
					}
				}
			}
      @media screen and (max-width:1160px){
        max-width: 1160px;
      }
      @include mobile{
        @include wh(100%,62px);
        max-width: 375px;
        background-color:$color-white;
        border:none;
        margin:6px 5px;
        border-radius: none;
        .photo{
          @include wh(90px,62px);
          min-width: 90px;
          border-radius:8px;
        }
        .event-info{
          padding:2px 16px;
          .the-title{
            p{
              @include font(12px,400,$color-black3,left);
              line-height: 17px;
            }
            h4{
              @include font(15px,700,$color-black2,left);
              line-height: 21px;
              max-width: 235px;
              white-space: nowrap; 
              overflow:hidden;
              text-overflow: ellipsis;
            }
          }
          .detail{
            .map{
              img{
                display: none;
                }
              @include font(11px,400,$color-black3,left);
              position:static;
              line-height: 15px;
              margin-top: 2px;
            }
            a{
              display: none;
            }
          }
        }
      }
		}
		.card:hover{
			.photo{
				overflow: hidden;
				img{
					@include wh(110%,110%);
					transition: 0.3s;
				}
			}
		}
	}
  @include mobile{
    padding:10px 15px;
  }
}
//景點
.hot-check-in{
	padding:0 20px;
	.top{
		margin: 10px 40px 10px 35px;
		@include flex(nowrap,Space-between,center);
		h3{
			@include font(36px,300,$color-black1,left);
		}
		a{
			@include font(16px,500,$color-red,right);
			text-decoration:none;
		}
	}
	.check-in-card-area{
		@include flex(nowrap,Space-between,center);
		.check-in-card{
			@include wh(255px,auto);
			margin:15px;
			.photo{
					@include wh(100%,200px);
					border-radius:20px;
					overflow: hidden;
				img{
					@include wh(100%,100%);
					transition: 0.3s;
				}
			}
			h4{
				@include font(22px,700,$color-black2,left);
				padding:10px 0;
			}
			p{
				@include font(16px,400,$color-black3,left);
				line-height: 23px;
				img{
					margin-right: 5px;
				}
			}
		}
		.check-in-card:hover{
			.photo{
				overflow: hidden;
				img{
					@include wh(110%,110%);
					transition: 0.5s;
				}
			}
		}
	}
}
//美食
.food-check-in{
	padding:0 20px;
	.top{
		margin: 10px 40px 10px 35px;
		@include flex(none,Space-between,center);
		h3{
			@include font(36px,300,$color-black1,left);
		}
		a{
			@include font(16px,500,$color-red,right);
			text-decoration:none;
		}
	}
	.check-in-card-area{
		@include flex(none,Space-between,center);
		.check-in-card{
			@include wh(255px,auto);
			margin:15px;
			.photo{
					@include wh(100%,200px);
					border-radius:20px;
					overflow: hidden;
				img{
					@include wh(100%,100%);
					transition: 0.3s;
				}
			}
			h4{
				@include font(22px,700,$color-black2,left);
				padding:10px 0;
			}
			p{
				@include font(16px,400,$color-black3,left);
				line-height: 23px;
				img{
					margin-right: 5px;
				}
			}
		}
		.check-in-card:hover{
			.photo{
				overflow: hidden;
				img{
					@include wh(110%,110%);
					transition: 0.5s;
				}
			}
		}
	}
}
//footer
.footer{
	@include wh(100%,auto);
	background-color: #65895f;
	padding:20px;
	p{
		@include font(14px,400,$color-white,center);
	}
}
