@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
    margin: auto;
  }
}
@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
    margin: auto;
  }
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 1130px;
  margin: auto;
  border-bottom: #e5e5e5 solid 1px;
  padding: 25px 45px;
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: none;
  justify-content: Space-between;
  align-items: center;
}
.header .logo {
  width: 240px;
  height: 32px;
  background-image: url("https://f2e-week1.vercel.app/logo-desktop.svg");
}
.header label {
  display: none;
}
.header input {
  display: none;
}
.header .list {
  display: flex;
  flex-wrap: none;
  justify-content: flex-end;
  align-items: center;
}
.header .list li {
  margin-left: 20px;
  padding: 10px;
}
.header .list li a {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 18px;
  color: #646464;
  text-align: right;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
    display: block;
  }
  .header label {
    display: inline-block;
    padding: 13.5px 10px;
    background-color: #A8B8A5;
    border-radius: 12px;
    position: absolute;
    top: 15px;
    right: 15%;
  }
  .header .list {
    position: fixed;
    left: 0;
    max-width: 768px;
    display: block;
    margin-top: 26px;
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s;
    width: 100%;
    height: auto;
  }
  .header .list li {
    margin: auto;
    padding: 10px 40%;
    background-color: #FFFFFF;
    border-bottom: #e6e6e6 solid 1px;
  }
  .header .list li a {
    font-family: "Noto Sans TC";
    font-weight: 400;
    font-size: 18px;
    color: #7F977B;
    text-align: center;
  }
  .header .list li:hover {
    background-color: #A8B8A5;
  }
  .header .list li:hover a {
    color: #FFFFFF;
  }
  .header input:checked ~ .list {
    max-height: 124px;
    transition: 0.4s;
  }
  .header label:hover {
    background-color: #beccbb;
  }
}
@media screen and (max-width: 375px) {
  .header {
    padding: 8px 8px;
    max-width: 375px;
  }
  .header .logo {
    margin: 17px 0;
    width: 118px;
    height: 30px;
    background-image: url("/img/mobile/Logo-mobile.png");
    position: relative;
    left: 110px;
  }
  .header label {
    top: 15px;
    right: 10%;
  }
  .header .list {
    max-width: 375px;
    margin-top: 9px;
  }
}

.toparea {
  padding: 130px 140px 50px 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: Space-between;
  align-items: center;
}
.toparea .pagetitle .title {
  font-family: "Noto Sans TC";
  font-weight: 300;
  font-size: 48px;
  color: #1E1E1E;
  text-align: left;
  line-height: 70px;
}
.toparea .pagetitle .title ins {
  text-decoration: none;
  border-bottom: 2px solid #E0DA48;
}
@media screen and (max-width: 1130px) {
  .toparea .pagetitle .title {
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .toparea .pagetitle .title {
    font-family: "Noto Sans TC";
    font-weight: 300;
    font-size: 28px;
    color: #1E1E1E;
    text-align: center;
    line-height: 40px;
  }
}
.toparea .pagetitle .info {
  margin-top: 15px;
  display: flex;
  flex-wrap: none;
  justify-content: flex-start;
  align-items: center;
}
.toparea .pagetitle .info p {
  display: inline-block;
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 20px;
  color: #646464;
  text-align: left;
  margin: 0 8px;
}
@media screen and (max-width: 768px) {
  .toparea .pagetitle .info p {
    font-family: "Noto Sans TC";
    font-weight: 400;
    font-size: 14px;
    color: #646464;
    text-align: left;
  }
  .toparea .pagetitle .info p .english {
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 12px;
    color: #646464;
    text-align: left;
  }
}
@media screen and (max-width: 1130px) {
  .toparea .pagetitle {
    margin-bottom: 35px;
    display: flex;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    flex-direction: column;
    transition: 1s;
  }
}
.toparea .function .search {
  margin-bottom: 7px;
}
.toparea .function .search select {
  width: 350px;
  height: auto;
  font-family: "Noto Sans TC";
  font-weight: 500;
  font-size: 16px;
  color: #6E7D60;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 6px;
  border: #e6e6e6 solid 1px;
  padding: 10px 30px;
}
.toparea .function .search select option {
  font-family: "Noto Sans TC";
  font-weight: 500;
  font-size: 16px;
  color: #2F2F2F;
  text-align: left;
  letter-spacing: 20px;
}
.toparea .function .inputframe {
  margin: 7px 0;
}
.toparea .function .inputframe input {
  width: 350px;
  height: auto;
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 16px;
  color: #9E9E9E;
  text-align: left;
  background-color: #F9F9F9;
  border: #e6e6e6 solid 1px;
  border-radius: 6px;
  padding: 10px 30px;
}
.toparea .function .searchbtn button {
  display: flex;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  height: auto;
  background-color: #65895f;
  border: none;
  border-radius: 6px;
  padding: 10px 120px;
}
.toparea .function .searchbtn button p {
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 20px;
}
.toparea .function .searchbtn button:hover {
  background-color: #7ba374;
}
@media screen and (max-width: 768px) {
  .toparea {
    display: flex;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .toparea {
    padding: 100px 15px 23px 15px;
  }
}

#tab {
  max-width: 1200px;
  max-height: 400px;
  padding: 45px;
  margin: auto;
  position: relative;
}
#tab .slider {
  width: 100%;
  height: auto;
  border-radius: 24px;
  margin: auto;
  overflow: hidden;
}
#tab .slider .photo {
  width: 100%;
  height: 400px;
  background-image: url(/img/pc/ScenicSpotPicture.png);
}
#tab .slider .slick-prev {
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(172, 121, 121, 0);
  font-size: 0;
  background-image: url(/img/pc/banner-arrow-left.png);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 2%;
}
@media screen and (max-width: 375px) {
  #tab .slider .slick-prev {
    width: 0px;
    height: 0px;
  }
}
#tab .slider .slick-next {
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(172, 121, 121, 0);
  font-size: 0;
  background-image: url(/img/pc/banner-arrow-right.png);
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 2%;
}
@media screen and (max-width: 375px) {
  #tab .slider .slick-next {
    width: 0px;
    height: 0px;
  }
}
@media screen and (max-width: 768px) {
  #tab {
    max-width: 768px;
  }
}
@media screen and (max-width: 375px) {
  #tab {
    max-width: 345px;
    height: 185px;
    padding: 15px;
  }
  #tab .slider {
    border-radius: 16px;
  }
  #tab .slider .photo {
    width: 100%;
    height: 185px;
    background-image: url(/img/mobile/picture1.png);
  }
}
#tab .banner-text {
  width: auto;
  height: auto;
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 28px;
  color: #FFFFFF;
  text-align: center;
  margin: auto;
  position: relative;
  top: -190px;
}
@media screen and (max-width: 768px) {
  #tab .banner-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  #tab .banner-text {
    font-size: 16px;
    top: -100px;
  }
}

.event {
  padding: 0 20px;
}
.event .top {
  margin: 10px 40px 10px 35px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: Space-between;
  align-items: center;
}
.event .top h3 {
  font-family: "Noto Sans TC";
  font-weight: 300;
  font-size: 36px;
  color: #1E1E1E;
  text-align: left;
}
.event .top a {
  font-family: "Noto Sans TC";
  font-weight: 500;
  font-size: 16px;
  color: #FF725E;
  text-align: right;
  text-decoration: none;
}
.event .top a img {
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 375px) {
  .event .top {
    margin: 8px 0px;
  }
  .event .top h3 {
    font-family: "Noto Sans TC";
    font-weight: 300;
    font-size: 24px;
    color: #1E1E1E;
    text-align: left;
  }
}
.event .event-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: Space-between;
  align-items: center;
}
.event .event-card .card {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: none;
  width: 100%;
  height: 160px;
  max-width: 540px;
  margin: 6px 5px;
  border-radius: 12px;
  background-color: #F9F9F9;
  border: #e5e5e5 solid 1px;
}
.event .event-card .card .photo {
  width: 160px;
  height: 160px;
  min-width: 160px;
  overflow: hidden;
  border-radius: 12px 0 0 12px;
}
.event .event-card .card .photo img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.event .event-card .card .event-info {
  padding: 16px 30px;
}
.event .event-card .card .event-info .the-title p {
  font-family: "Noto Sans TC";
  font-weight: 200;
  font-size: 16px;
  color: #646464;
  text-align: left;
  line-height: 23px;
}
.event .event-card .card .event-info .the-title h4 {
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 22px;
  color: #2F2F2F;
  text-align: left;
  line-height: 30px;
}
.event .event-card .card .event-info .detail .map {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 16px;
  color: #646464;
  text-align: left;
  position: absolute;
  bottom: 15%;
}
.event .event-card .card .event-info .detail a {
  font-family: "Noto Sans TC";
  font-weight: 500;
  font-size: 16px;
  color: #7F977B;
  text-align: right;
  text-decoration: none;
  position: absolute;
  bottom: 15%;
  right: 5%;
}
@media screen and (max-width: 1160px) {
  .event .event-card .card {
    max-width: 1160px;
  }
}
@media screen and (max-width: 375px) {
  .event .event-card .card {
    width: 100%;
    height: 62px;
    max-width: 375px;
    background-color: #FFFFFF;
    border: none;
    margin: 6px 5px;
    border-radius: none;
  }
  .event .event-card .card .photo {
    width: 90px;
    height: 62px;
    min-width: 90px;
    border-radius: 8px;
  }
  .event .event-card .card .event-info {
    padding: 2px 16px;
  }
  .event .event-card .card .event-info .the-title p {
    font-family: "Noto Sans TC";
    font-weight: 400;
    font-size: 12px;
    color: #646464;
    text-align: left;
    line-height: 17px;
  }
  .event .event-card .card .event-info .the-title h4 {
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 15px;
    color: #2F2F2F;
    text-align: left;
    line-height: 21px;
    max-width: 235px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .event .event-card .card .event-info .detail .map {
    font-family: "Noto Sans TC";
    font-weight: 400;
    font-size: 11px;
    color: #646464;
    text-align: left;
    position: static;
    line-height: 15px;
    margin-top: 2px;
  }
  .event .event-card .card .event-info .detail .map img {
    display: none;
  }
  .event .event-card .card .event-info .detail a {
    display: none;
  }
}
.event .event-card .card:hover .photo {
  overflow: hidden;
}
.event .event-card .card:hover .photo img {
  width: 110%;
  height: 110%;
  transition: 0.3s;
}
@media screen and (max-width: 375px) {
  .event {
    padding: 10px 15px;
  }
}

.hot-check-in {
  padding: 0 20px;
  max-height: 355px;
  overflow: hidden;
}
@media screen and (max-width: 375px) {
  .hot-check-in {
    padding: 0 0 0 15px;
    margin-top: 40px;
    max-height: 275px;
  }
}
.hot-check-in .top {
  margin: 10px 40px 10px 35px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: Space-between;
  align-items: center;
}
.hot-check-in .top h3 {
  font-family: "Noto Sans TC";
  font-weight: 300;
  font-size: 36px;
  color: #1E1E1E;
  text-align: left;
}
.hot-check-in .top a {
  font-family: "Noto Sans TC";
  font-weight: 500;
  font-size: 16px;
  color: #FF725E;
  text-align: right;
  text-decoration: none;
}
.hot-check-in .top a img {
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 375px) {
  .hot-check-in .top {
    margin: 8px 0px;
    padding-right: 15px;
  }
  .hot-check-in .top h3 {
    font-family: "Noto Sans TC";
    font-weight: 300;
    font-size: 24px;
    color: #1E1E1E;
    text-align: left;
  }
}
.hot-check-in .check-in-card-area {
  display: flex;
  flex-wrap: nowrap;
  justify-content: Space-between;
  align-items: center;
  overflow-x: auto;
  padding-bottom: 12px;
}
.hot-check-in .check-in-card-area .check-in-card {
  width: 255px;
  height: auto;
  min-width: 255px;
  margin: 15px;
}
.hot-check-in .check-in-card-area .check-in-card .photo {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}
.hot-check-in .check-in-card-area .check-in-card .photo img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.hot-check-in .check-in-card-area .check-in-card h4 {
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 22px;
  color: #2F2F2F;
  text-align: left;
  padding: 10px 0;
}
.hot-check-in .check-in-card-area .check-in-card p {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 16px;
  color: #646464;
  text-align: left;
  line-height: 23px;
}
.hot-check-in .check-in-card-area .check-in-card p img {
  margin-right: 5px;
}
@media screen and (max-width: 375px) {
  .hot-check-in .check-in-card-area .check-in-card {
    width: 220px;
    height: 200px;
    min-width: 220px;
    margin: 15px 15px 15px 0;
  }
  .hot-check-in .check-in-card-area .check-in-card .photo {
    width: 100%;
    height: 160px;
    border-radius: 20px;
  }
  .hot-check-in .check-in-card-area .check-in-card h4 {
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 18px;
    color: #2F2F2F;
    text-align: left;
    padding: 6px 0;
  }
  .hot-check-in .check-in-card-area .check-in-card p img {
    margin-right: 5px;
  }
}
.hot-check-in .check-in-card-area .check-in-card:hover .photo {
  overflow: hidden;
}
.hot-check-in .check-in-card-area .check-in-card:hover .photo img {
  width: 110%;
  height: 110%;
  transition: 0.5s;
}

.food-check-in {
  padding: 0px 20px;
  max-height: 355px;
  overflow: hidden;
}
@media screen and (max-width: 375px) {
  .food-check-in {
    padding: 0 0 0 15px;
    max-height: 275px;
    margin: 40px 0;
  }
}
.food-check-in .top {
  margin: 10px 40px 10px 35px;
  display: flex;
  flex-wrap: none;
  justify-content: Space-between;
  align-items: center;
}
.food-check-in .top h3 {
  font-family: "Noto Sans TC";
  font-weight: 300;
  font-size: 36px;
  color: #1E1E1E;
  text-align: left;
}
.food-check-in .top a {
  font-family: "Noto Sans TC";
  font-weight: 500;
  font-size: 16px;
  color: #FF725E;
  text-align: right;
  text-decoration: none;
}
.food-check-in .top a img {
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 375px) {
  .food-check-in .top {
    margin: 8px 0px;
    padding-right: 15px;
  }
  .food-check-in .top h3 {
    font-family: "Noto Sans TC";
    font-weight: 300;
    font-size: 24px;
    color: #1E1E1E;
    text-align: left;
  }
}
.food-check-in .check-in-card-area {
  display: flex;
  flex-wrap: none;
  justify-content: Space-between;
  align-items: center;
  overflow-x: auto;
  padding-bottom: 12px;
}
.food-check-in .check-in-card-area .check-in-card {
  width: 255px;
  height: auto;
  min-width: 255px;
  margin: 15px;
}
.food-check-in .check-in-card-area .check-in-card .photo {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}
.food-check-in .check-in-card-area .check-in-card .photo img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.food-check-in .check-in-card-area .check-in-card h4 {
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 22px;
  color: #2F2F2F;
  text-align: left;
  padding: 10px 0;
}
.food-check-in .check-in-card-area .check-in-card p {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 16px;
  color: #646464;
  text-align: left;
  line-height: 23px;
}
.food-check-in .check-in-card-area .check-in-card p img {
  margin-right: 5px;
}
@media screen and (max-width: 375px) {
  .food-check-in .check-in-card-area .check-in-card {
    width: 220px;
    height: 200px;
    min-width: 220px;
    margin: 15px 15px 15px 0;
  }
  .food-check-in .check-in-card-area .check-in-card .photo {
    width: 100%;
    height: 160px;
    border-radius: 20px;
  }
  .food-check-in .check-in-card-area .check-in-card h4 {
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 18px;
    color: #2F2F2F;
    text-align: left;
    padding: 6px 0;
  }
  .food-check-in .check-in-card-area .check-in-card p img {
    margin-right: 5px;
  }
}
.food-check-in .check-in-card-area .check-in-card:hover .photo {
  overflow: hidden;
}
.food-check-in .check-in-card-area .check-in-card:hover .photo img {
  width: 110%;
  height: 110%;
  transition: 0.5s;
}

.footer {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  background-color: #65895f;
  padding: 20px;
}
.footer p {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
}