@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
    margin: auto;
  }
}
@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
    margin: auto;
  }
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 1130px;
  margin: auto;
  border-bottom: #e5e5e5 solid 1px;
  padding: 25px 45px;
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: none;
  justify-content: Space-between;
  align-items: center;
}
.header .logo {
  width: 240px;
  height: 32px;
  background-image: url("https://f2e-week1.vercel.app/logo-desktop.svg");
}
.header label {
  display: none;
}
.header input {
  display: none;
}
.header .list {
  display: flex;
  flex-wrap: none;
  justify-content: flex-end;
  align-items: center;
}
.header .list li {
  margin-left: 20px;
  padding: 10px;
}
.header .list li a {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 18px;
  color: #646464;
  text-align: right;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
    display: block;
  }
  .header label {
    display: inline-block;
    padding: 13.5px 10px;
    background-color: #A8B8A5;
    border-radius: 12px;
    position: absolute;
    top: 15px;
    right: 15%;
  }
  .header .list {
    position: fixed;
    left: 0;
    max-width: 768px;
    display: block;
    margin-top: 26px;
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s;
    width: 100%;
    height: auto;
  }
  .header .list li {
    margin: auto;
    padding: 10px 40%;
    background-color: #FFFFFF;
    border-bottom: #e6e6e6 solid 1px;
  }
  .header .list li a {
    font-family: "Noto Sans TC";
    font-weight: 400;
    font-size: 18px;
    color: #7F977B;
    text-align: center;
  }
  .header .list li:hover {
    background-color: #A8B8A5;
  }
  .header .list li:hover a {
    color: #FFFFFF;
  }
  .header input:checked ~ .list {
    max-height: 124px;
    transition: 0.4s;
  }
  .header label:hover {
    background-color: #beccbb;
  }
}
@media screen and (max-width: 375px) {
  .header {
    padding: 8px 8px;
    max-width: 375px;
  }
  .header .logo {
    margin: 17px 0;
    width: 118px;
    height: 30px;
    background-image: url("/img/mobile/Logo-mobile.png");
    position: relative;
    left: 110px;
  }
  .header label {
    top: 15px;
    right: 10%;
  }
  .header .list {
    max-width: 375px;
    margin-top: 9px;
  }
}

#banner {
  padding: 140px 45px 0px 45px;
}
#banner .breadcrumb {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 16px;
  color: #6E7D60;
  text-align: left;
  padding: 0 15px;
}
#banner #tab {
  max-width: 1110px;
  max-height: 400px;
  padding: 30px 0;
  margin: auto;
  position: relative;
}
#banner #tab .slider {
  width: 100%;
  height: auto;
  border-radius: 24px;
  margin: auto;
  overflow: hidden;
}
#banner #tab .slider .photo {
  width: 100%;
  height: 400px;
  background-image: url(/img/pc/page-view/view-photo-1.png);
}
#banner #tab .slider .slick-prev {
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(172, 121, 121, 0);
  font-size: 0;
  background-image: url(/img/pc/banner-arrow-left.png);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 2%;
}
@media screen and (max-width: 375px) {
  #banner #tab .slider .slick-prev {
    width: 0px;
    height: 0px;
  }
}
#banner #tab .slider .slick-next {
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(172, 121, 121, 0);
  font-size: 0;
  background-image: url(/img/pc/banner-arrow-right.png);
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 2%;
}
@media screen and (max-width: 375px) {
  #banner #tab .slider .slick-next {
    width: 0px;
    height: 0px;
  }
}
@media screen and (max-width: 768px) {
  #banner #tab {
    max-width: 768px;
  }
}
@media screen and (max-width: 375px) {
  #banner #tab {
    max-width: 345px;
    height: 185px;
    padding: 16px 0;
  }
  #banner #tab .slider {
    border-radius: 16px;
  }
  #banner #tab .slider .photo {
    width: 100%;
    height: 185px;
    background-image: url(/img/mobile/picture1.png);
  }
}
@media screen and (max-width: 375px) {
  #banner {
    padding: 120px 15px 15px 15px;
  }
  #banner .breadcrumb {
    font-family: "Noto Sans TC";
    font-weight: 400;
    font-size: 12px;
    color: #6E7D60;
    text-align: left;
    padding: 0 0px;
  }
}

.about {
  margin: 0 60px 30px 60px;
}
.about .view-title h2 {
  font-family: "Noto Sans TC";
  font-weight: 300;
  font-size: 36px;
  color: #1E1E1E;
  text-align: left;
  line-height: 52px;
}
.about .view-title .tag {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.about .view-title .tag .tagstyle {
  padding: 2px 20px;
  border: #BEA363 solid 1px;
  border-radius: 20px;
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 20px;
  color: #BEA363;
  text-align: center;
  line-height: 28px;
  margin: 12px 5px 12px 0;
}
.about .introduce {
  padding: 20px 0;
}
.about .introduce h3 {
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 20px;
  color: #2F2F2F;
  text-align: left;
}
.about .introduce p {
  padding: 10px 0;
  font-family: "Noto Sans TC";
  font-weight: 300;
  font-size: 18px;
  color: #000;
  text-align: justify;
  line-height: 30px;
}

.infomation {
  margin: 0 45px 60px 45px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.infomation .service {
  margin-right: 30px;
  padding: 20px 30px;
  border-radius: 12px;
  background-color: #F9F9F9;
}
.infomation .service ul li {
  line-height: 30px;
  margin: 12px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: none;
}
.infomation .service ul li h3 {
  min-width: 100px;
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 20px;
  color: #2F2F2F;
  text-align: left;
}
.infomation .service ul li p {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 18px;
  color: #2F2F2F;
  text-align: left;
}
.infomation .service ul li p a {
  color: #6E7D60;
}
.infomation .transportation .map {
  width: 540px;
  height: 250px;
  background-image: url(/img/pc/page-view/googlemap.png);
}
.infomation .transportation .other h3 {
  padding: 30px 0 20px 0;
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 20px;
  color: #2F2F2F;
  text-align: left;
}
.infomation .transportation .other .link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: Space-between;
  align-items: center;
}
.infomation .transportation .other .link a {
  display: flex;
  flex-wrap: none;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  max-width: 160px;
  padding: 25px 42px;
  border: #E5E5E5 1.3px solid;
  text-decoration: none;
}
.infomation .transportation .other .link a p {
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 16px;
  color: #7F977B;
  text-align: center;
  line-height: 28px;
}

.hot-check-in {
  padding: 0 20px;
  max-height: 355px;
  overflow: hidden;
}
@media screen and (max-width: 375px) {
  .hot-check-in {
    padding: 0 0 0 15px;
    margin-top: 40px;
    max-height: 275px;
  }
}
.hot-check-in .top {
  margin: 10px 40px 10px 35px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: Space-between;
  align-items: center;
}
.hot-check-in .top h3 {
  font-family: "Noto Sans TC";
  font-weight: 300;
  font-size: 36px;
  color: #1E1E1E;
  text-align: left;
}
.hot-check-in .top a {
  font-family: "Noto Sans TC";
  font-weight: 500;
  font-size: 16px;
  color: #FF725E;
  text-align: right;
  text-decoration: none;
}
.hot-check-in .top a img {
  position: relative;
  top: 2px;
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 375px) {
  .hot-check-in .top {
    margin: 8px 0px;
    padding-right: 15px;
  }
  .hot-check-in .top h3 {
    font-family: "Noto Sans TC";
    font-weight: 300;
    font-size: 24px;
    color: #1E1E1E;
    text-align: left;
  }
}
.hot-check-in .check-in-card-area {
  display: flex;
  flex-wrap: nowrap;
  justify-content: Space-between;
  align-items: center;
  overflow-x: auto;
  padding-bottom: 12px;
}
.hot-check-in .check-in-card-area .check-in-card {
  width: 255px;
  height: auto;
  min-width: 255px;
  margin: 15px;
}
.hot-check-in .check-in-card-area .check-in-card .photo {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
}
.hot-check-in .check-in-card-area .check-in-card .photo img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.hot-check-in .check-in-card-area .check-in-card h4 {
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 22px;
  color: #2F2F2F;
  text-align: left;
  padding: 10px 0;
}
.hot-check-in .check-in-card-area .check-in-card p {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 16px;
  color: #646464;
  text-align: left;
  line-height: 23px;
}
.hot-check-in .check-in-card-area .check-in-card p img {
  margin-right: 5px;
}
@media screen and (max-width: 375px) {
  .hot-check-in .check-in-card-area .check-in-card {
    width: 220px;
    height: 200px;
    min-width: 220px;
    margin: 15px 15px 15px 0;
  }
  .hot-check-in .check-in-card-area .check-in-card .photo {
    width: 100%;
    height: 160px;
    border-radius: 20px;
  }
  .hot-check-in .check-in-card-area .check-in-card h4 {
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 18px;
    color: #2F2F2F;
    text-align: left;
    padding: 6px 0;
  }
  .hot-check-in .check-in-card-area .check-in-card p img {
    margin-right: 5px;
  }
}
.hot-check-in .check-in-card-area .check-in-card:hover .photo {
  overflow: hidden;
}
.hot-check-in .check-in-card-area .check-in-card:hover .photo img {
  width: 110%;
  height: 110%;
  transition: 0.5s;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #65895f;
  padding: 20px;
}
.footer p {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
}