@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
body {
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
    margin: auto;
  }
}
@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
    margin: auto;
  }
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 1130px;
  margin: auto;
  border-bottom: #e5e5e5 solid 1px;
  padding: 25px 45px;
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: none;
  justify-content: Space-between;
  align-items: center;
}
.header .logo {
  width: 240px;
  height: 32px;
  background-image: url("https://f2e-week1.vercel.app/logo-desktop.svg");
}
.header label {
  display: none;
}
.header input {
  display: none;
}
.header .list {
  display: flex;
  flex-wrap: none;
  justify-content: flex-end;
  align-items: center;
}
.header .list li {
  margin-left: 20px;
  padding: 10px;
}
.header .list li a {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 18px;
  color: #646464;
  text-align: right;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
    display: block;
  }
  .header label {
    display: inline-block;
    padding: 13.5px 10px;
    background-color: #A8B8A5;
    border-radius: 12px;
    position: absolute;
    top: 15px;
    right: 15%;
  }
  .header .list {
    position: fixed;
    left: 0;
    max-width: 768px;
    display: block;
    margin-top: 26px;
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s;
    width: 100%;
    height: auto;
  }
  .header .list li {
    margin: auto;
    padding: 10px 40%;
    background-color: #FFFFFF;
    border-bottom: #e6e6e6 solid 1px;
  }
  .header .list li a {
    font-family: "Noto Sans TC";
    font-weight: 400;
    font-size: 18px;
    color: #7F977B;
    text-align: center;
  }
  .header .list li:hover {
    background-color: #A8B8A5;
  }
  .header .list li:hover a {
    color: #FFFFFF;
  }
  .header input:checked ~ .list {
    max-height: 124px;
    transition: 0.4s;
  }
  .header label:hover {
    background-color: #beccbb;
  }
}
@media screen and (max-width: 375px) {
  .header {
    padding: 8px 8px;
    max-width: 375px;
  }
  .header .logo {
    margin: 17px 0;
    width: 118px;
    height: 30px;
    background-image: url("/img/mobile/Logo-mobile.png");
    position: relative;
    left: 110px;
  }
  .header label {
    top: 15px;
    right: 10%;
  }
  .header .list {
    max-width: 375px;
    margin-top: 9px;
  }
}

.searcharea {
  padding: 130px 50px 50px 50px;
}
.searcharea .breadcrumb {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 16px;
  color: #6E7D60;
  text-align: left;
}
.searcharea .breadcrumb a {
  text-decoration: none;
}
.searcharea .breadcrumb p {
  margin: 0 4px;
}
.searcharea .function {
  display: flex;
  flex-wrap: wrap;
  justify-content: Space-between;
  align-items: center;
  padding: 20px 0;
}
.searcharea .function .search {
  margin: 3px 7px;
  flex-grow: 1;
}
.searcharea .function .search select {
  width: 100%;
  height: 50px;
  font-family: "Noto Sans TC";
  font-weight: 500;
  font-size: 16px;
  color: #6E7D60;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 6px;
  border: #e6e6e6 solid 1px;
  padding: 10px 30px;
}
.searcharea .function .search select option {
  font-family: "Noto Sans TC";
  font-weight: 500;
  font-size: 16px;
  color: #2F2F2F;
  text-align: left;
  letter-spacing: 20px;
}
.searcharea .function .search .district {
  display: none;
}
.searcharea .function .inputframe {
  margin: 3px 7px;
  flex-grow: 2;
}
.searcharea .function .inputframe input {
  width: 100%;
  height: 50px;
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 16px;
  color: #9E9E9E;
  text-align: left;
  background-color: #F9F9F9;
  border: #e6e6e6 solid 1px;
  border-radius: 6px;
  padding: 10px 30px;
}
.searcharea .function .searchbtn {
  margin: 3px 7px;
  flex-grow: 1;
}
.searcharea .function .searchbtn button {
  display: flex;
  flex-wrap: none;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #65895f;
  border: none;
  border-radius: 6px;
  padding: 10px 50px;
}
.searcharea .function .searchbtn button p {
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 20px;
}
.searcharea .function .searchbtn button:hover {
  background-color: #7ba374;
}
@media screen and (max-width: 375px) {
  .searcharea {
    padding: 90px 15px 25px 15px;
  }
  .searcharea .breadcrumb {
    font-size: 12px;
  }
  .searcharea .function {
    padding: 15px 0;
  }
  .searcharea .function .search {
    margin: 3px 0;
  }
  .searcharea .function .inputframe {
    margin: 3px 0;
  }
  .searcharea .function .searchbtn {
    margin: 3px 0;
  }
}

.system-default {
  margin: 10px 30px 120px 30px;
}
.system-default .title {
  margin: 0 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.system-default .title h2 {
  font-family: "Noto Sans TC";
  font-weight: 300;
  font-size: 36px;
  color: #1E1E1E;
  text-align: left;
}
.system-default .title p {
  padding: 0 6px;
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 18px;
  color: #646464;
  text-align: left;
}
.system-default .title p span {
  color: #BEA363;
}
.system-default .card-area {
  margin: 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: Flex-start;
  align-items: center;
  align-content: Space-around;
}
.system-default .card-area .card {
  max-width: 255px;
  margin: 12px 15px;
}
.system-default .card-area .card a {
  text-decoration: none;
}
.system-default .card-area .card a .phtot {
  border-radius: 20px;
  overflow: hidden;
}
.system-default .card-area .card a .phtot img {
  width: 100%;
  height: auto;
}
.system-default .card-area .card a h4 {
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 22px;
  color: #2F2F2F;
  text-align: left;
  line-height: 31px;
  margin-top: 10px;
}
.system-default .card-area .card a p {
  margin-top: 6px;
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 16px;
  color: #646464;
  text-align: left;
}
.system-default .page {
  position: relative;
  left: 38%;
}
.system-default .page .page-prev {
  display: inline-block;
  width: 34px;
  height: 34px;
  background-color: #E5E5E5;
  border-radius: 6px;
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 14px;
  color: #65895F;
  text-align: center;
  position: relative;
}
.system-default .page .page-prev span {
  position: absolute;
  top: 7px;
  left: 30%;
}
.system-default .page .page-current {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: #65895F solid 1px;
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 14px;
  color: #65895F;
  text-align: center;
  position: relative;
}
.system-default .page .page-current span {
  position: absolute;
  top: 7px;
  left: 37%;
}
.system-default .page a {
  text-decoration: none;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: #E5E5E5 solid 1px;
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 14px;
  color: #646464;
  text-align: center;
  position: relative;
}
.system-default .page a span {
  position: absolute;
  top: 7px;
  left: 30%;
}
.system-default .page .page-next {
  background-color: #7F977B;
  color: #FFFFFF;
}
@media screen and (max-width: 375px) {
  .system-default {
    margin: 10px 10px 65px 10px;
  }
  .system-default .title {
    margin: 0 4px;
  }
  .system-default .title h2 {
    font-size: 24px;
  }
  .system-default .title p {
    font-size: 14px;
  }
  .system-default .title p span {
    padding: 0 6px;
  }
  .system-default .card-area {
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: Flex-start;
    align-items: center;
    flex-direction: column;
  }
  .system-default .card-area .card {
    max-width: 345px;
    margin: 5px 5px 13px 0;
  }
  .system-default .card-area .card a {
    text-decoration: none;
  }
  .system-default .card-area .card a .phtot {
    border-radius: 20px;
    width: 345px;
    height: 160px;
  }
  .system-default .card-area .card a .phtot img {
    width: 100%;
    height: auto;
  }
  .system-default .card-area .card a h4 {
    font-size: 18px;
    line-height: 25px;
    margin-top: 6px;
  }
  .system-default .page {
    margin-top: 75px;
    position: relative;
    left: 15%;
  }
}

.footer {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  background-color: #65895f;
  padding: 20px;
}
.footer p {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
}